<h2 id="title">Welcome to your fancy Reddit Reader</h2>

{{link-to "Knitting" "posts" "knitting"}}
{{link-to "Ingress" "posts" "ingress"}}

{{input value=search placeholder="Search Reddit"}}

<button {{action 'search'}}>Search</button>

{{outlet}}
